@font-face {
    font-family: 'riverola';
    src: url("../fonts/riverola.ttf");
}

@font-face {
    font-family: 'Century';
    src: url("../fonts/SansSerifFLF/SansSerifFLF.otf");
    
}

@font-face {
    font-family: 'mountains';
    src: url("../fonts/beyond_the_mountains.otf");
}