header {
    background-color: #0D0D0D;
    display: flex;
    justify-content: space-between; /* Espaço entre a logo e o conjunto nav + botão */
    align-items: center;
    padding: 1dvh;
}

.logo {
    margin-left: 2dvh;
    height: 10dvh;
    width: auto;
    transition: height 0.3s ease;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #A67E4E;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.pedido-link {
    padding: 8px 16px;
    background-color: #9f8148;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.pedido-link:hover {
    background-color: #a68d59;
}

.menu-hamburguer {
    display: none;
    font-size: 30px;
    color: white;
}



@media (min-width: 768px) {
    header {
        justify-content: space-between; /* Assegura que a logo e o nav fiquem nos extremos */
    }
    .logo {
        height: 90px; /* Tamanho ajustado para telas maiores */
    }
    nav {
        gap: 40px; /* Aumenta o espaço entre os links em telas maiores */
    }
    nav a {
        font-size: 20px; /* Fonte maior para melhor leitura em telas grandes */
    }
    .pedido-link {
        padding: 10px 20px; /* Aumenta o padding do botão em telas maiores */
    }
}



@media (max-width: 767px) {
    .menu-hamburguer {
        display: block;
    }

    .nav-menu {
        display: none; /* Esconde o menu de navegação no início */
        flex-direction: column; /* Organiza os links verticalmente */
        width: 100%; /* Ajusta a largura para cobrir a tela */
        position: absolute;
        top: 60px; /* Ajuste conforme necessário */
        left: 0;
        background-color: #0D0D0D; /* Cor de fundo para o menu expansível */
        z-index: 1000; /* Garante que o menu fique sobre outros elementos */
    }

    .nav-menu a {
        display: block;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #A67E4E; /* Adiciona uma linha entre os links */
    }
}


